@model Tienda.CORE.ViewModels.ResumenCestaViewModel

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index", "Cesta")">@Model.Recuento items</a></li>
    <li><a href="@Url.Action("Index", "Cesta")">@String.Format("{0:c}", Model.TotalCesta)</a></li>
</ul>
